@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/centurygothic-bold.eot');
  src: url('./fonts/centurygothic-bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/centurygothic-bold.woff2') format('woff2'),
    url('./fonts/centurygothic-bold.woff') format('woff'),
    url('./fonts/centurygothic-bold.ttf') format('truetype'),
    url('./fonts/centurygothic-bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'century gothic';
  src: url('./fonts/centurygothic.eot');
  src: url('./fonts/centurygothic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/centurygothic.woff2') format('woff2'),
    url('./fonts/centurygothic.woff') format('woff'),
    url('./fonts/centurygothic.ttf') format('truetype'),
    url('./fonts/centurygothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* || generl-styling */
body {
  background-color: #393939;
  font-family: arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: auto;
  max-width: 1200px;
}
h2,h3{
  font-family: 'century gothic',sans-serif;
}
h2{
  border-width: 5px;
  border-bottom: 1px dashed #b2b2b2;
  color: #005128;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 14px;
  padding-bottom: 12px;
}
a {
  text-decoration: none;
}
a:visited {
  color: purple;
}
p {
  color: #666;
}
address{
  font-style: normal;
}
ul {
  list-style-type: none;
}
li:last-child{
  border-right: 0px;
}
button {
  border-radius: 5px;
  border: 1px solid white;
  background: linear-gradient(to top, #305e0c, #43771c);
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: "century gothic";
  padding: 5px 15px;
  
}
button:hover {
  background: linear-gradient(to top, #1d3a07, #43771c);
  cursor: pointer;
}
.gallery-link:hover {
  opacity: .9;
}
.main-container {
  border-right: solid 10px #231f20;
  border-left: solid 10px #231f20;
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
/* || header-starts */
#header {
  background: linear-gradient(to top, #e6e7d7, #fff);
  margin-bottom: 3px;
  padding: 22px 31px 11px 35px;
}
#header .contact-info {
  float: right;
  margin-bottom: 18px;
  padding-top: 18px;
  text-align: right;
}
.contact-info a {
  display: block;
  color: #268155;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
}
.tel-img-wrap .telephone-icon {
  display: inline-block;
  margin-right: 8px;
}
.tel-img-wrap .telephone-number {
  font-size: 24px;
  vertical-align: super;
}
/* header-ends */

/* nav-starts */
#navbar {
  margin-bottom: 3px;
}
#navbar ul{

}
#navbar ul li {
  background: repeating-linear-gradient(180deg, #386f10, #518e24 20px);
  width: 16.6666666%;
  text-align: center;
  border-right: solid 1px transparent;
  border-image: url('./images/nav-bar-list-border.png') 10% stretch;
  float: left;
}
#navbar ul li:first-child {
  background: repeating-linear-gradient(180deg, #395425, #45632f 20px);
  padding-left: 12px;
}
#navbar li:last-child {
  padding-right: 12px;
}
#navbar li a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px;
}
#navbar li:hover {
  background: repeating-linear-gradient(180deg, #395425, #45632f 20px);
}
/* nav-ends */

/* banner-image */
#banner {
  border-bottom: 2px solid #5d9732;
  line-height: 0;
  padding-bottom: 2px;
  margin-bottom: 23px;
}
/* banner-image */

/* aside-section-starts */
aside {
  float: left;
  font-size: 18px;
  max-width: 259px;
  margin-right: 28px;
}
.box {
  background: linear-gradient(to top, #4b7c24, #588c2e);
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 24px;
  padding: 0 18px;
  padding-bottom: 18px
}
.box h3 {
  border: none;
  background: linear-gradient(to top, #231f20, #393939);
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 12px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 -18px 16px -18px;
  padding: 11px 99px 11px 14px;
}
.box p {
  color: white;
  margin-bottom: 10px;
}
/* form-starts */
.box label {
  color: #fff;
}
.box input {
  border-radius: 0px;
  border: 1px solid #01542a;
  margin-bottom: 12px;
  max-width: 100%;
}
.box input[placeholder] {
  padding: 3.5px 5px;
}
.box button {
  display: block;
  margin-left: auto;
}
/* form-ends */
/* contact-us-starts */
.contact-details{
  margin-bottom: 20px;
}
.contact-details .img-container {
  border-bottom: 1px solid transparent;
  border-image: url('./images/aside-logo-border.png') 1% stretch;
  margin-bottom: 22px;
  padding-bottom: 8px;
}
.img-container img{
  display: block;
  width: 80%;
  margin: auto;
}
.contact-details address {
  color: #fff;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
}
.contact-details a {
  color: white;
  text-decoration: underline;
}
/* contact-us-ends */
/* aside-ends */

/* Main-section-starts */
main {
  
  min-width: 642px;
  margin-left: 283px;
  margin-bottom: 14px;
  overflow: hidden;
}
/* section-starts */
section {
  margin-bottom: 20px;
  overflow: hidden;
  padding-right: 5px;
}
section p {
  margin-bottom: 16px;
}
/* section1-starts */
#section1 img {
  border: 2px solid #f0f0f0;
  float: right;
  margin: 0 5px 0px 19px;
}
/* section1-ends */
/* section2-starts */
#section2 h2 {
  border: none;
  margin-bottom: 0;
}
.services-container {
  background-color: #e6e7d7;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 25px 38px 13px 33px;
}
#section2 img {
  border: 2px solid white;
  box-shadow: 0px 0px 10px #d8d9ca;
  float: left;
  margin-right: 22px;
}
.services-container ul {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 10px;
}
.services-list {
  background: url('./images/list\ bullet.png') center left;
  background-repeat: no-repeat;
  line-height: 30px;
  padding-left: 22px;
}
.services-list a {
  color: #666;
  text-decoration: underline;
}
.services-list a:hover{
  color:#268155;
}
/* section2-ends */
/* section-ends */
/* main-section-ends */

/* footer-starts */
#main-footer {
  background-color: #b7b88c;
  box-shadow: 0 10px 5px -10px #808162 inset;
  margin: 0 -10px;
  padding: 30px 20px 18px 18px;
}
#main-footer a:hover{
  color:#004a25;
  text-decoration: underline;
}
#footer-logo {
  float: right;
}
#main-footer ul {
  margin-bottom: 8px;
}
.footer-links {
  border-right: 1px solid black;
  display: inline-block;
}
.footer-links a {
  color: #000;
  padding: 0 10px;
}
#main-footer p {
  color: black;
  font-size: 11px;
  margin: 0px 8px;
}
#footer-copyrights-link {
  color: #004a25;
}

/* footer-ends */